/*======= index.html =======*/
#page1 #content .line-ver { background-position:217px top;}
#page1 #content .col-1 {width:186px; margin-right:62px;}
#page1 #content .col-2 { width:420px; margin-right:36px;}
#page1 #content .col-3 { width:247px;}

/*======= index-1.html =======*/
#page2 #content .line-ver { background-position:703px top;}
#page2 #content .col-1 {width:670px; margin-right:62px;}
#page2 #content .col-2 { width:217px; }

/*======= index-2.html =======*/
#page3 #content .line-ver { background-position:217px top;}
#page3 #content .col-1 {width:186px; margin-right:62px;}
#page3 #content .col-2 { width:420px; margin-right:36px;}
#page3 #content .col-3 { width:247px;}
#page3 #content .col-2 .col-1 { width:195px; margin-right:30px;}
#page3 #content .col-2 .col-2 { width:195px; margin-right:0;}

/*======= index-3.html =======*/
#page4 #content .line-ver { background-position:703px top;}
#page4 #content .col-1 {width:670px; margin-right:62px;}
#page4 #content .col-2 { width:217px; }

/*======= index-4.html =======*/
#page5 #content .line-ver { background-position:217px top;}
#page5 #content .col-1 {width:186px; margin-right:62px;}
#page5 #content .col-2 { width:420px; margin-right:36px;}
#page5 #content .col-3 { width:247px;}
#page5 #content .col-2 .col-1 { width:195px; margin-right:30px;}
#page5 #content .col-2 .col-2 { width:195px; margin-right:0;}

/*======= index-5.html =======*/
#page6 #content .line-ver { background-position:703px top;}
#page6 #content .col-1 {width:670px; margin-right:62px;}
#page6 #content .col-2 { width:217px; }
/*=========================*/


